<%- include('partials/head') %>

<h1 class="art-objects-title"></h1>
<ul id="art-objects-list" class="art-objects-list">
    <% data.forEach(item => { %>
      <li class="art-object-item">
        <picture>
          <img src="https://fdnd-agency.directus.app/assets/<%= item.image %>" alt="<%= item.title %>" width="<%= item.width %>" height="<%= item.height %>">
        </picture>
      </li>
    <% }) %>
  </ul>
  <section class="button-search-section">
    <button>ALL</button>
    <button>POTTERY</button>
    <button>GLASS</button>
    <button>POTTERY</button>
    <button>GLASS</button>
    <form class="search-form">
        <input type="text" name="query" placeholder="SEARCH THE COLLECTION.....">
      </form>
</section>
  

