<%- include('partials/head') %>
<h1>Art Objects</h1>
    <ul>
        <% data.forEach(item => { %>
            <li>
                <h2><%= item.title %></h2>
                <p>ID: <%= item.id %></p>
                <img src="<%= item.image %>" alt="<%= item.title %>">
            </li>
        <% }) %>
    </ul>