<%- include('partials/head') %>

<h1 class="art-objects-title"></h1>
<ul class="art-objects-list" id="art-objects-list">
    <% data.forEach(item => { %>
        <li class="art-object-item">
            <picture>
                <!-- <source srcset="https://fdnd-agency.directus.app/assets/<%= item.image %>?format=avif" type="image/avif">
                <source srcset="https://fdnd-agency.directus.app/assets/<%= item.image %>?format=webp"> -->
                <img src="https://fdnd-agency.directus.app/assets/<%= item.image %>" alt="<%= item.title %>" width="<%= item.width %>" height="<%= item.height %>">
            </picture>
        </li>
    <% }) %>
</ul>


<button id="load-more">Load more</button>

